.navbar-container {
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .navbar-container.visible {
    opacity: 1;
    transform: translateY(0);
  }
  