.Login-container {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #9900ff, #cc80ff);  
    background-image: url('ogImage.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .InputControl-container input {
    border-radius: 5px;
    border: 1px solid #dddddd;
    outline: none;
    padding: 10px 15px;
    color: black;
}
 
.Login-footer button:hover {
  background-color: #aa2aff;
}
  .Login-innerBox {
    min-width: 480px;
    height: fit-content;
    width: fit-content;
    background-color:black;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    mix-blend-mode: hard-light; 
  }
 
  
  .Login-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .Login-footer .error {
    font-weight: bold;
    font-size: 0.875rem;
    color: #ff3300;
    text-align: center;
  }
  
  .Login-footer button {
    outline: none;
    border: none;
    background-color: #9900ff;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 16px;
    width: 100%;
    transition: 100ms;
    cursor: pointer;
  }
  
  .Login-footer button:disabled {
    background-color: white !important;
  }
  
  .Login-footer button:hover {
    background-color: #aa2aff;
  }
  
  .Login-footer p {
    font-weight: 700;
    color: #000;
  }
  
  .Login-footer p span a {
    font-weight: bold;
    color:white;
    letter-spacing: 1px;
    font-size: 1rem;
    text-decoration: none;
  }
  .Login-footer p span a:hover {
    color: #aa2aff;
  }
 
  .divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px 0;

}
.divider::before,
.divider::after{
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: white;


}
.divider span{
  padding : 0 10px;
  color: black;
  font-weight: thin;
  font-family: sans-serif;

}
.InputControl-container label {
  font-weight: 700;
  font-size: 1rem;
  color: white;
}

.Login-footer button {
  outline: none;
  border: none;
  background-color:white;
  color:black;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px 16px;
  width: 100%;
  transition: 100ms;
  cursor: pointer;
}
/* Add these styles in your Login.css file */
.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
}

.divider span {
  padding: 0 10px;
  color: #ccc;
  font-weight: bold;
}
.Login-footer p {
  font-weight: 700;
  color:white;
}